.Header {
    width: 100%;
    height: 77px;
    background-color: #444444;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px #77119f;
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.textBox {
    display: flex;
    justify-content: flex-start;

}

.logo {
    width: 11ch;
    font-size: 26px;
    margin: 20px 0 0 0;
    font-weight: 500;
    color: #fff;
    filter:
        drop-shadow(7px 7px 5px #77119f);
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #77119f;
    animation: flashing-border 0.75s step-end infinite,
    printed-text 5s steps(11);
}

@keyframes flashing-border {
    0% {
        border-color: #77119f;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #77119f;
    }
}
@keyframes printed-text{
    from{
        width: 0;
    }
}