.admin {
    width: 900px;
    border: 1px solid #77119f;
    margin: 0 auto;
    background-color: #444444;
    border-radius: 10px;
    box-shadow:5px 3px 5px #77119f;
}

.year {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
    height: 200px;
}

.yearSelect {
    height: 47px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    width: 84px;
}

.day {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
    height: 200px;
}
.daySelect{
    height: 121px;
    width: 84px;
}

.hour {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
    height: 200px;
}
.hourSelect{
    height: 125px;
    width: 84px;
}
.month {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
    height: 200px;
}

.monthSelect {
    height: 141px;
    border: 10px;
    width: 84px;
}

.minutes {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
    height: 200px;
}
.minutesSelect{
    height: 125px;
    width: 84px;
}

.calendar {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
    height: 200px;
}

.title {
    color: #fff;
    font-size: 21px;
    font-weight: 400;

}
.date{
    margin: 25px 0 0 0;
}
.itemContainer{
    display: contents;
}